body{
    /*Para usar variavel utilizamos var(--nome) */
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar{
    background-color: var(--navbar-bg);
    padding: 1rem; /* 1rem = font-size (16px/resetcss)*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Separar cm virgula para aplicar a todos elementos,
Separar com espaço para ser aplicado ao segundo elemento (logo) que  existir dentro do primeiro (navbar)
Vai aplicar apenas ao logo dentro do navbar*/
.navbar .logo{
    font-weight: 900;
    font-size: 1.5rem;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--text-color);
}

.cards{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.card{
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer{
    background-color: var(--footer-bg);
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.dark-mode-toggle{
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 10px;

}