/* :root é o seletor base, aplicando a todo o documento
geralmente utilizado para variaveis */
:root{
    /* Tema Claro */
    --bg-color: #fff;
    --text-color: #000;
    --navbar-bg: #ceced1;
    --card-bg: #edecf3;
    --footer-bg: #ceced1;

    /* Tema Escuro */
    body.dark-mode {
    --bg-color: #000;
    --text-color: #fff;
    --navbar-bg: #1f1f1f;
    --card-bg: #1e1e1e;
    --footer-bg: #1f1f1f;
    }
}